<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @test.name %>
</p>

<p>
  <strong>Blurb:</strong>
  <%= @test.blurb %>
</p>

<p>
  <strong>Keywords:</strong>
  <%= @test.keywords %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @test.parent %>
</p>

<%= link_to 'Edit', edit_test_path(@test) %> |
<%= link_to 'Back', tests_path %>
